@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
    
    
    h1.site-name{
        font-size: 2.5em;
        line-height: .8em; 
    }

/*** navigation styles; side nav for larger views and hamburger button for mobile views ****/
    
    nav {
        width: 300px;
    }
    
    .nav-spacer{
        height: 200px;
    }
    
/*** footer appears at base of side nav in medium/large views ****/
    p.side-footer {
        font-size: 10pt;
    } 
    
/*
    .grid{
    grid-template-columns: 300px 300px 300px;
	width: 930px;
    }
    
        #row-one{
        display: flex;
    }
    .story-column{
        flex: 1;
        padding: .5em;
    }
    
   #row-two{
        display: flex;
    }
*/
  
}


