/* Default rules; geared toward the small/phone view */

/* Declare the base font-family - from google font api or other */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Trade+Winds');
@import url('https://fonts.googleapis.com/css?family=Miniver');

/* This wildcard applies to all elements ensuring a box layout model */
* { box-sizing: border-box;}  

/*** main text styles ****/

body {
    font-family: "Open Sans", "Verdana", "Arial", sans-serif;
    font-size: 14px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", "Helvetica", sans-serif;
    margin-bottom: .5em;
}

.bike-name{
    margin-top: 30px;
}

.site-name{
    font-size: 3em;
    line-height: .8em; 
    text-align: center;
    color: white;
    font-family: "Trade Winds", "Miniver", "Arial Black", sans-serif;
    text-shadow: 5px 5px 15px #001610;
}

blockquote{
    font-family: "Trade Winds", "Miniver", "Arial Black", sans-serif;
    font-size: 1.2em;
    letter-spacing: .2;
    color: #012254;
}

span.quote-source{
    font-size: .8em;
}

figcaption{
    color: #454545;
    font-size: .75em;
}

main ul li{
    padding: 5px;
}
/*** navigation styles; side nav for larger views and hamburger button for mobile views ****/

nav {
    text-align: center;
    background-color: transparent;
    color: white;
    z-index: 1;
}

nav button{
    background-color: #012254;
    width: 100%;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.hide {
    display: none;
}

nav ul li {
    background-color: #012254;
}

nav ul li a {
    display: block;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
}

nav ul li a:hover {
    background-color: #b67045;
    font-size: 1.25em;
}

nav ul li a:active {
    color: #ffffff;
}

a.active{
    background-color: #001636;
}

/*** space for main page content ****/
main{
    padding: 0 15px;
    margin: 0 auto 100px;
}

main p{
    max-width: 800px;
}

/*** video styles ****/
video{
    width: 300px;
}

/*** button and link styles ****/
.button {
    background-color: #b67045;
    border: none;
    color: #ffffff;
    padding: .7em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.3em;
    box-shadow: 4px 4px 10px #454545;
}

.button:hover{
    background-color: #E0A17A;
    color: #ffffff;
}

a.small-link{
    color: #7499C1;
    font-size: 9pt;
}

a.small-link:hover{
    color: #012254;
}

a.small-link:active{
    color: #7499C1;
}

main a{
    color: #d8aa91;
    text-decoration: none;
}

main a:hover{
    color: #b67045;
}

main a:active{
    color: #7499C1;
}

/*** box on home page ****/
#ad-box{
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 auto;
    width: 350px;
    box-shadow: 4px 4px 10px #454545;
}

/*** box on contact page ****/
#contact-box{
    text-align: center;
    color: white;
    background-color: #012254;
    padding: 15px;
    margin: 0 auto;
    max-width: 500px;
    max-height: 250px; 
    box-shadow: 4px 4px 10px #454545;
}

.product-box{
    padding: 20px 15px;
    margin-top: 20px;
    box-shadow: 4px 4px 10px #454545;
}

/*** responsive images ****/
figure{
    max-width: 100%;
    height: auto;
}

.responsive {
    max-width: 100%;
    height: auto;
}

.bike-logo{
    float: left;
}

/*** styling for embedded Google map on contact page ****/
#google-map{
    display: block;
    margin: 15px auto;
}

/*** styling for contact and registration forms ****/
form{
    margin:  1em auto;
    text-align: left;
}

fieldset{
    background-color: #d8aa91;
    border-radius: .5em;
    margin: 1em auto;
    border: 3px solid #b67045;
    max-width: 500px;

}

legend{
    margin-left: 20px;
    border: 3px solid #b67045;
    background-color: #b67045;
    border-radius: .4em;
}

.legend-label{
    color: white;
    padding: 10px 15px;
    font-size: 1.2em;
}

label{
/*input elements are inline by default*/
    display: block;
    margin: .3em;
}

/*to put input fields under instructions/labels and improve visual grouping*/
label span {
    display: block;
    text-align: left;
    font-size: 1em;
    color: #ffffff;
    padding-top: .9em;
    padding-bottom: .2em;
}

#comments-box{
    height: 200px;
    width: 100%;
    padding: .5em;
}

.radio-text{
    display: inline;
    padding-left: .5em;
}

input.button{
/*override web kit on some mobile devices*/
    -webkit-appearance: none;
    color: #ffffff;
    width: 50%;
    display: block;
    margin: .5em auto;
}

input.button:hover{
    background-color: #7499C1;
}

input.button:active{
    background-color: #d8aa91;;
}

/*** styling for tables ****/
#contact-info th{
    padding: 5px 15px 0 0;
}

#contact-info {
    font-size: 1.3em;
    text-align: left;
}

.event-info {
    font-size: 1.1em;
    text-align: left;
}

.event-info th{
    padding: 10px 10px 0 0;
}

.tour-info{
    padding-bottom: 20px;
}

.services{
    margin: 0 auto 20px;
    width: 80%;
}

.services th{
    color: #ffffff;
    background-color: #b67045;
    border-color: #b67045;
}

.services tr:hover{
    color: #ffffff;
    background-color: #d8aa91;
}

.services td, .services th{
    padding: 5px 5px 5px 10px;
    text-align: left;
    vertical-align: center;
}

.services td{
    width: 
}
    
/*** bottom footer only appears in small/mobile views ****/
footer {
    background-color: #012254;
    color: #ffffff;
    font-size: 10pt;
    text-align: center;
    padding: 15px;
    width: 100%;
    position: fixed;
    bottom: 0px;
} 

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    color: #d8aa91;
}

footer a:active{
    color: #b67045;
}

#footer-name{
    font-family: "Trade Winds", "Miniver", "Arial Black", sans-serif;
    font-size: 1.2em;
}

.footer-link{
    background-color: transparent;
    color: #d8aa91;
    font-size: 1em;
    border: none;
    padding-bottom: 0;
}

.footer-link:hover{
    font-size: 1em;
    background-color: transparent;
    color: #b67045;
}

.footer-link:active{
    font-size: 1em;
    background-color: transparent;
    color: #ffffff;
}
