/* Default rules; geared toward the small/phone view */

/* Declare the base font-family - from google font api or other */
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald|Trade+Winds');
@import url('https://fonts.googleapis.com/css?family=Miniver');

/* This wildcard applies to all elements ensuring a box layout model */
* { box-sizing: border-box;}  

/*** main text styles ****/

body {
    font-family: "Open Sans", "Verdana", "Arial", sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Oswald", "Helvetica", sans-serif;
}

.site-name{
    font-size: 3em;
    line-height: .8em; 
    text-align: center;
    color: white;
    font-family: "Trade Winds", "Miniver", "Arial Black", sans-serif;
    text-shadow: 5px 5px 15px #001610;
}

/*** navigation styles; side nav for larger views and hamburger button for mobile views ****/

nav {
    text-align: center;
    background-color: transparent;
    color: white;
}

nav button{
    background-color: #012254;
    width: 100%;
    border: none;
    color: white;
    padding: 10px;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

.hide {
    display: none;
}

nav ul li {
    background-color: #012254;
}

nav ul li a {
    display: block;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
}

nav ul li a:hover {
    background-color: #b67045;
    font-size: 1.25em;
}

nav ul li a:active {
    color: #ffffff;
}

a.active{
    background-color: #001636;
}

/*** button styles ****/

.button {
    background-color: #b67045;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover{
    background-color: #E0A17A;
}

a.small-link{
    color: #7499C1;
    font-size: 9pt;
}

a.small-link:hover{
    color: #012254;
}

/*** box on home page ****/
#ad-box{
    text-align: center;
    background-color: #ffffff;
    padding: 15px;
    margin: 0 auto;
    width: 350px;
}

/*** bottom footer only appears in small/mobile views ****/
div.footer {
    background-color: #012254;
    color: #ffffff;
    font-size: 10pt;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    position: absolute;
    width: 100%;
    bottom: 0px;
} 

div.footer a{
    color: white;
    text-decoration: none;
}

div.footer a:hover{
    color: #FFB100;
}

div.footer a:active{
    color: #015C71;
}

#footer-name{
    font-family: "Trade Winds", "Miniver", "Arial Black", sans-serif;
    font-size: 1.2em;
}

/*************************************************************/
/*************************************************************/
/************************************************************


main figure.responsive { 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

main figure.responsive img { 
    max-width: 100%;
    min-width: 50%;
    margin-top: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

figcaption{
    font-size: .75em;
    padding: 10px;
}

.grid{
display: grid;
grid-template-columns: 300px;
width: 300px;
margin: 0 auto;
}

.grid figure{
padding: 10px;
}

.hover-shadow{
	box-shadow: 5px 10px 18px #888888;
}
*/
/*************************************************************/


