@media only screen and (min-width: 64em) {
  /* Only CSS rules that need to be changed to meet the layout needs from medium to large/wide go in here */
  
    article p.town-article img { 
        width: 45%; 
    }
    
    nav ul li a {
        font-size: 1.2em;
        padding-top: 15px;
        padding-left: 50px;
    }
    
    main figure.responsive { 
    margin: 0 0 .2rem 2%; 
    width: 100%; }
  
}