/* This main css file contains the default rules and is geared toward the small/phone view */

/* This wildcard applies to all elements ensuring a box layout model */
* { box-sizing: border-box;}  

/* Declare the base font-family - from google font api or other */
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Ubuntu|Yeseva+One');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 16px;
    margin: 20px auto 20px auto;
    max-width: 1000px;
    text-align: center;
}

header {

}

#site-logo { 
    display: inline; 
    float: left; 
    max-width: 100%;
    min-width: 30%;
    margin-bottom: 1em;
}

.site-name{
    font-family: "Montserrat", "Arial Black", serif;
    letter-spacing: .03em;
}

header h1 {
    clear: none; 
    display: inline; 
    float: left; 
    font-size: 3.5em;
    margin-top: 40px;
    margin-left: 10px; 
    margin-bottom: 5px;
}

.blue-shadow{
    text-shadow: 2px 2px #02AAD2;
}

.orange-shadow{
    text-shadow: 2px 2px #FFB100;
}

header .subheading {
    color: #02AAD2;
    font-size: 1.75em;
    font-family: "Ubuntu", "Arial", sans-serif;
    clear: none; 
    display: inline; 
    float: left; 
    margin-top: 0;
    margin-left: 10px; 
    margin-bottom: 15px;
}

nav {
    clear: both; 
    display: block; 
    float: center; 
    background-color: #02AAD2;
    color: white;
}

nav button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #017792;
}

nav ul li {
    background-color: #017792;
    padding: 5px;
}

nav ul li a {
    font-size: 1.1em;
    color: white;
    padding-top: 15px;
    padding-left: 50px;
    text-decoration: none;
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #015C71;
}

main h1{
    font-family: "Montserrat", "Arial Black", serif;
}

main h2 {
    font-family: "Montserrat", "Arial Black", serif;
    font-size: 2em;
}

main figure.responsive { 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;

}

main figure.responsive img { 
    width: 100%;
    clear: both;
    margin-top: 10px;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

article {
    border: 1.5px solid #015C71;
    display: block;
    margin: 1em auto 0 auto;
    overflow: auto;
}

/* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
article p.town-article img {   
    width: 100%; /* fill the page in the small/phone view */
    margin: 1em auto 1em auto;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

footer {
    background-color: #015C71;
    clear: both;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottom-left: 15px;
    -webkit-border-radius-bottom-left: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottom-right: 15px;
    -webkit-border-radius-bottom-right: 15px;
}
footer aside {
    background-color: #02AAD2;
    text-align: center;
}

/* This structure refers to p elements that are direct children of the footer element */
footer p {
    color: white;
    text-align: center;
    padding: 15px;
    padding-bottom: 20px;
} 

#footer-title{
    font-size: 1.2em;
}

/* Other Class Selectors */

.forecast{
    margin-bottom: 10px;
}