/* This main css file contains the default rules and is geared toward the small/phone view */

/* This wildcard applies to all elements ensuring a box layout model */
* { box-sizing: border-box;}  

/* Declare the base font-family - from google font api or other */
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Ubuntu|Yeseva+One');

body {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 16px;
}

#container{
    margin: 10px auto 10px auto;
}
/* Declare the maximum width and other main element rules to limit the stretch on wide views */
header, nav, main, footer { 
    max-width: 940px;
    margin: auto;
}

header {
}
header h1 {
    font-family: "Yeseva One", "Arial Black", serif;
    display: inline;
    font-size: 4em;
}
header img {
    display: inline;
    max-width: 200px;
    min-width: 50px;
}
header .subheading {
    display: block;
    margin-left: 20%;    
    font-size: 2em;
    font-family: "Ubuntu", "Arial", sans-serif;
    padding-bottom: 20px;
}

nav {
    background-color: #02AAD2;
    color: white
}
nav button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #017792;
}
nav ul li {
    background-color: #017792;
}
nav ul li a {
    font-size: 1.2em;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li.active a {}
nav ul li a:hover {
    background-color: #015C71;
}

main {}
main h2 {
    font-family: "Ubuntu", "Arial Black", serif;
    font-size: 2.5em;
}
main h3 {
    font-family: "Ubuntu", "Arial Black", serif;
    font-size: 2em;
}
main figure { margin: 0 0 .2rem 2%; width:96%; }
main figure img { width: 100%; }

section {}

/* This structure refers to img elements that are the posterity of paragraph elements within artcle elements */
article p.town-article img {  
  width: 100%; /* fill the page in the small/phone view */
  margin: 2em;
}

footer {}
footer aside {}

/* This structure refers to p elements that are direct children of the footer element */
footer>p {} 

/* Other Class Selectors */