/* This main css file contains the default rules and is geared toward the small/phone view */

/* This wildcard applies to all elements ensuring a box layout model */
* { box-sizing: border-box;}  

/* Declare the base font-family - from google font api or other */
@import url('https://fonts.googleapis.com/css?family=Comfortaa');
@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Ubuntu|Yeseva+One');

body {
    font-family: "Ubuntu", "Arial", sans-serif;
    font-size: 16px;
    margin: 20px auto 20px auto;
    max-width: 1000px;
    text-align: center;
}

header {
    display: flex; 
    justify-content: flex-start; 
    /*overflow: auto;*/
}

#site-logo { 
    width: 90px;
    height: 88px;
    margin-bottom: 1em;
}

header.column {
    flex: 1;
}

.site-name{
    font-family: "Comfortaa", "Helvetica", sans-serif;
    letter-spacing: .03em;
}

h1.site-name {
    text-align: left;
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: .5em;
    padding-bottom: .1em;
    margin-left: 10px;
}

.blue-shadow{
    text-shadow: 2px 2px #02AAD2;
}

.orange-shadow{
    text-shadow: 2px 2px #FFB100;
}

#subheading {
    color: #02AAD2;
    font-size: 1.2em;
    text-align: left;
    font-family: "Ubuntu", "Arial", sans-serif;
    margin-top: 0;
    margin-left: 10px;
}

nav {
    /*clear: both; 
    display: block; 
    float: center; */
    display: flex;
    justify-content: center;
    background-color: #02AAD2;
    color: white;
}

nav button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden; 
}

nav ul.hide {
    display: none;
}

nav ul li {
    background-color: #017792;

}

nav ul li a {
    display: block;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
}

nav ul li a:hover {
    background-color: #015C71;
}

main h1, h2, h2{
    font-family: "Comfortaa", "Helvetica", serif;
}

main figure.responsive { 
    width: 100%; 
    margin-left: auto;
    margin-right: auto;
}

main figure.responsive img { 
    width: 100%;
    margin-top: 0;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

figcaption{
    font-size: .75em;
}

article {
    border: 1.5px solid #015C71;
    overflow: auto;
}

article p{
    text-align: left;
}

article h3{
    margin: 1em auto 1em auto;
}

article img {   
    max-width: 100%;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

footer {
    background-color: #015C71;
    border-bottom-left-radius: 15px;
    -moz-border-radius-bottom-left: 15px;
    -webkit-border-radius-bottom-left: 15px;
    border-bottom-right-radius: 15px;
    -moz-border-radius-bottom-right: 15px;
    -webkit-border-radius-bottom-right: 15px;
}
footer aside {
    background-color: #02AAD2;
    text-align: center;
}

/* This structure refers to p elements that are direct children of the footer element */
footer p {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
} 

#footer-title{
    font-size: 1.2em;
}

p.footer-bar{
    padding-bottom: 25px;
    padding-top: 10px;
    margin: 0;
}

.forecast{
    margin-bottom: 10px;
}

