/***********************************************************
**************default styles designed for mobile ***********
************************************************************/

/************************* HEADER ****************************/
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');


/* This wildcard applies to all elements ensuring a box layout model */
* { box-sizing: border-box;}  

#site-logo { 
    width: 90px;
    height: 88px;
    margin-bottom: 1em;
}

nav {
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom: 3px solid rgba(183,183,183,0.5);
    color: white;
}

nav button{
    background-color: transparent;
    border: none;
    color: white;
    padding: 0;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 15px;
    font-size: 1.6rem;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align-last: center;
    overflow: hidden; 
}

nav ul.hide {
    display: none;
}

nav ul li {
    background-color: transparent;
    margin: 0;
}

nav ul li a {
    display: block;
    font-size: 1.1em;
    color: white;
    text-decoration: none;
    padding: .8rem 2%;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li a.active{
    color: #b4b4b4;
}

nav ul li a:hover {
    background-color: rgba(0, 150, 77, 0.4);
}

nav ul li a:active {
    background-color: #FDA064;
}

/************************* FOOTER ****************************/

footer {
    background-color: #454545;
    text-align: center;
    margin: 0;
}

/* This structure refers to p elements that are direct children of the footer element */
footer p {
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
} 

#footer-link{
    font-family: "Permanent Marker", "Oswald", fantasy;
    color: #4DC9A7;
    font-size: 1.3em;
    letter-spacing: .03em;
    text-decoration: none;
}

#footer-link:hover{
    color: #F15F72;
}

#footer-link:active{
    color: #ffffff;
}

footer a{
    color: #ffffff;
}

footer a:hover{
    color: #F15F72;
}

footer a:active{
    color: #4DC9A7;
}

p.footer-bar{
    padding-bottom: 25px;
    padding-top: 10px;
    margin: 0;
}